{% extends 'frontend/layout.html' %}
{% block content %}

     <section class="p-5">
        <div class="container">
            <div class="row text-center g-4">		
			<!--I-->
                <div class="col-1">
                  
                </div>

                <div class="col-9">
                  <div class="card" >
                    <img class="card-img-top" src={{fam.image.url}} alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">
                          {{fam.name}}
                      </h5>
                      <p class="card-text"><pre>{{ fam.description }}</pre></p>
                      <a href="/family/mother" class="btn btn-primary">Mother</a>
                      <a href="father" class="btn btn-primary">Father</a>
                      <a href="sisterbrother" class="btn btn-primary">Sister & Brother</a>
                      <a href="husbandwife" class="btn  btn-primary">Husband and Wife</a>
                      <a href="grandparents" margin-top: "100px" class="btn btn-primary">GrandParents</a>
                      <a href="auntuncle" class="btn btn-primary">Aunt and Uncle</a>
                      </div>
                     
                    </div>
                  </div>
                </div>

                <div class="col-1">
                </div>
	

            </div>

            <div class="row text-center g-4">		
                <div class="col-3">
                </div>
                <div class="col-6">
                  <a href="../" class="btn  btn-warning">Finish</a>  

                </div>
                <div class="col-3">
                </div>
        </div>
     </section>
     <script>
            
            
     </script>
 {% endblock %}
 