{% extends 'frontend/layout.html' %}

{% block content %}
    <!-- Showcase -->
     <section class="bg-dark text-light p-5 text-center text-sm-start">
        <div class=container">
            <div class="d-sm-flex align-items-center justify-content-between">
                <div>
                    <h1> Become Fluent in <span class="text-warning"> Amharic</span> </h1>
                    <p>Teaching the foundation of Amharic in an Engaging and Fun way!!!</p>
					  <a href="{% url 'pronoun' %}" class="btn btn-primary btn-lg"> Start Course Now</a>

                </div>
                <img class="img-fluid w-50 d-none d-sm-block"   src="" alt="" />
            </div>
        </div>
     </section>

     <!-- Newsletter -->
     <section class="bg-warning text-light p-5">
        <div class="container">
            <div class="d-md-flex justify-content-between align-items-center">
                <h3 class="mb-3 mb-md-0"> </h3>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="">
                    <button class="btn btn-dark btn-lg" type="button"></button>
                  </div>
                  
            </div>
        </div>

     </section>

     <!-- Boxes -->
     <section class="p-5">
        <div class="container">
            <div class="row text-center g-4">		
			<!--box1-->
                <div class="col-md mb-3">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-laptop"></i>
                            </div>
                            
                          <h3 class="card-title mb-3"> Pronouns </h5>
                          <p class="card-text">Basic pronouns, with images, phonics <br>and the respective alphabet</p>
                          <a href="/pronoun" class="btn btn-primary"> Learn Now</a>
                        </div>
                      </div>
                </div>
			<!--box2-->
                <div class="col-md mb-3">
                    <div class="card bg-secondary text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-person-square"></i>
                            </div>
                            
                          <h3 class="card-title mb-3"> Family </h5>
                          <p class="card-text">Immediate family members, with images, phonics and the respective alphabet</p>
                          <a href="/family" class="btn btn-dark"> Learn Now</a>
                        </div>
                    </div>
                </div>
				<!--box1-->

                <div class="col-md mb-3">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-people"></i>
                            </div>
                            
                          <h3 class="card-title mb-3"> Introductions </h5>
                          <p class="card-text">Introduction, based on previous lessons (pronouns and family) </p>
                          <a href="/intro" class="btn btn-primary"> Learn Now</a>
                        </div>
                      </div>
                </div>

            </div>
            <div class="row text-center g-4">
                <div class="col-md mb-3 ">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-laptop"></i>
                            </div>
                            
                          <h3 class="card-title mb-3"> Numbers</h5>
                          <p class="card-text">Number 1-10, with images, phonics <br>and the respective alphabet</p>
                          <a href="/num" class="btn btn-primary"> Learn More</a>
                        </div>
                      </div>
                </div>
                <div class="col-md mb-3">
                    <div class="card bg-secondary text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-person-square"></i>
                            </div>
                            
                          <h3 class="card-title mb-3"> WH Questions</h5>
                          <p class="card-text">Learn and practice asking and answering questions </p>
                          <a href="/wh" class="btn btn-dark"> Learn Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md mb-3">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-people"></i>
                            </div>
                            
                          <h3 class="card-title mb-3"> Days of The Week</h5>
                          <p class="card-text">list of the 7 Days of the week. Including alphabet</p>
                          <a href="/day" class="btn btn-primary"> Learn Now</a>
                        </div>
                      </div>
                </div>

            </div>
        </div>
     </section>
     <section id="questions" class="p-5">
        <div class="container">
          <h2 class="text-center mb-4">Frequently Asked Questions</h2>
          <div class="accordion accordion-flush" id="questions">
            <!-- Item 1 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#question-one"
                >
                  How long does it take to master the language?
                </button>
              </h2>
              <div
                id="question-one"
                class="accordion-collapse collapse"
                data-bs-parent="#questions"
              >
                <div class="accordion-body">
                  A disciplined student who is being guided by a teacher, using the right 
                  learning methods, and learning a “the basics” language can gain intermediate
                   fluency in as little as three months.
                   On the other end of the spectrum, the same student learning a “the advanced”
                    language needs two years to gain intermediate fluency.
                </div>
              </div>
            </div>
            <!-- Item 2 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#question-two"
                >
                  How will I be assesed?
                </button>
              </h2>
              <div
                id="question-two"
                class="accordion-collapse collapse"
                data-bs-parent="#questions"
              >
                <div class="accordion-body">
                  we are currently working on adding assesment and peer learning option in our platform.
                  We will also enhance our platfrom to include certified courses. 
                </div>
              </div>
            </div>
            <!-- Item 3 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#question-three"
                >
                  Should I start learning Amharic alphabet first?
                </button>
              </h2>
              <div
                id="question-three"
                class="accordion-collapse collapse"
                data-bs-parent="#questions"
              >
                <div class="accordion-body">
                  When you start to learn Amharic, you’ll very quickly realize that the 
                  writing system bears little resemblance to anything else you’ve seen.Unlike 
                  European languages, Amharic does not technically use an alphabet, it uses 
                  what’s known as an abugida - or alphasyllabary - known as Ge’ez (Ge’ez is to
                   Amharic as Latin is to English, it uses the same script, but today Ge’ez is
                    used only as a liturgical language of the Ethiopian Orthodox Church). We 
                    recommend learning the alphaber side-to-side with the lesson. 
                </div>
              </div>
            </div>
            <!-- Item 4 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#question-four"
                >
                Nouns and Gender in Amharic 
                </button>
              </h2>
              <div
                id="question-four"
                class="accordion-collapse collapse"
                data-bs-parent="#questions"
              >
                <div class="accordion-body">
                  When it comes to nouns, Amharic usually has derived or primary nouns. It means that a noun could be primary like “leg” in Amharic (ǝgǝr) while others are simply derived forms such as “pedestrian”, (ǝgr-äñña). 

Like in most languages, gender in Amharic is either feminine or masculine and expressed in diverse ways. A number of adjectives and nouns end up with a marker that signifies femininity, such as “bäg” for ram and “bäg-it” for ewe.  In essence, femininity in the language doesn’t just help to distinguish the sex of the subject but helpful when indicating the smallness of a subject, compassion or tenderness.  
                </div>
              </div>
            </div>
            <!-- Item 5 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#question-five"
                >
                  Why should learn Amharic?
                </button>
              </h2>
              <div
                id="question-five"
                class="accordion-collapse collapse"
                data-bs-parent="#questions"
              >
                <div class="accordion-body">
                  Learning Amharic can have many benefits, including:
                  <ul>
                  <li>Improved communication with the native speakers of Amharic, which is 
                  the official language of Ethiopia.</li>
                  <li>Greater cultural understanding of Ethiopia and the Horn of Africa, which
                   has a rich history and diverse society.</li>
                   <li>Enhanced career opportunities, as knowledge of Amharic can be valuable
                  for business or government work in Ethiopia.</li>
                  <li>Increased cognitive benefits, as learning a new language can improve 
                  cognitive function, memory, and problem-solving skills.</li>
                  <li>Personal growth and self-fulfillment, as learning a new language can be
                   a rewarding and challenging experience that can deepen one's understanding 
                   of the world.</li>
                   </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
      <section id="instructors" class="p-5 bg-primary">
        <div class="container">
          <h2 class="text-center text-white">Our Instructors</h2>
          <p class="lead text-center text-white mb-5">
            
          </p>
          <div class="row g-4">
            <div class="col-md-6 col-lg-3">
              <div class="card bg-light">
                <div class="card-body text-center">
                  <img
                    src=""
                    class="rounded-circle mb-3"
                    alt=""
                  />
                  <h3 class="card-title mb-3">Tsion Zeleke</h3>
                  <p class="card-text">
                    Analyst,Software developer, part time language teacher at teacherson.com.
                    tsion902@gmail.com
                  </p>
                  <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                  <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                  <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                  <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
                </div>
              </div>
            </div>
    
            <div class="col-md-6 col-lg-3">
              <div class="card bg-light">
                <div class="card-body text-center">
                  <img
                    src=""
                    class="rounded-circle mb-3"
                    alt=""
                  />
                  <h3 class="card-title mb-3">Enguday H/Giorgis</h3>
                  <p class="card-text">
                    Excellent French,Amharic and English instractor at different international
                    school with more than 10 years of experience. 
                    contact at: enguday441@gmail.com
                  </p>
                  <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                  <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                  <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                  <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
                </div>
              </div>
            </div>
    
            <div class="col-md-6 col-lg-3">
              <div class="card bg-light">
                <div class="card-body text-center">
                  <img
                    src=""
                    class="rounded-circle mb-3"
                    alt=""
                  />
                  <h3 class="card-title mb-3">Alador Smith</h3>
                  <p class="card-text">
                    youtuber, passionate pro-gamer located in Ethiopia,Addis Ababa

                  </p>
                  <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                  <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                  <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                  <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
                </div>
              </div>
            </div>
    
            <div class="col-md-6 col-lg-3">
              <div class="card bg-light">
                <div class="card-body text-center">
                  <img
                    src=""
                    class="rounded-circle mb-3"
                    alt=""
                  />
                  <h3 class="card-title mb-3">Hirut</h3>
                  <p class="card-text">
                    Self content teachers for Grade 1 students 
                    teaching English, Amharic, Science and Math 
                    with more tham 7 years of experience .
                  </p>
                  <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                  <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                  <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                  <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
      <!-- Contact & Map -->
      <section class="p-5">
        <div class="container">
          <div class="row g-4">
            <div class="col-md">
              <h2 class="text-center mb-4">Contact Info</h2>
              <ul class="list-group list-group-flush lead">
                <li class="list-group-item">
                  <span class="fw-bold">Main Location:</span> Ethiopia, Addis Ababa
                </li>
                <li class="list-group-item">
                  <span class="fw-bold"> Phone:</span> (+251) 935-023276
                </li>
                <li class="list-group-item">
                  <span class="fw-bold">Email:</span>
                  tsion902@gmail.com
                </li>
              </ul>
            </div>
            <div class="col-md">
              <div id="map"></div>
            </div>
          </div>
        </div>
      </section>
    
      <!-- Footer -->
      <footer class="p-5 bg-dark text-white text-center position-relative">
        <div class="container">
          <p class="lead">Copyright &copy; 2023</p>
    
          <a href="#" class="position-absolute bottom-0 end-0 p-5">
            <i class="bi bi-arrow-up-circle h1"></i>
          </a>
        </div>
      </footer>
    
      <!-- Modal -->
      <div
        class="modal fade"
        id="enroll"
        tabindex="-1"
        aria-labelledby="enrollLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="enrollLabel">Enrollment</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <p class="lead">Fill out this form and we will get back to you</p>
              <form>
                <div class="mb-3">
                  <label for="first-name" class="col-form-label">
                    First Name:
                  </label>
                  <input type="text" class="form-control" id="first-name" />
                </div>
                <div class="mb-3">
                  <label for="last-name" class="col-form-label">Last Name:</label>
                  <input type="text" class="form-control" id="last-name" />
                </div>
                <div class="mb-3">
                  <label for="email" class="col-form-label">Email:</label>
                  <input type="email" class="form-control" id="email" />
                </div>
                <div class="mb-3">
                  <label for="phone" class="col-form-label">Phone:</label>
                  <input type="tel" class="form-control" id="phone" />
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="button" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </div>

  {% endblock %}